.editor-content {
	font-family: Roboto;
	line-height: 24px;
	font-size: 16px;
	padding: 8px 16px;
}

.editor-content blockquote {
	background: #e6e7ec;
	border-color: rgb(151, 154, 164);
	border-left-width: 1px;
	border-right-width: 1px !important;
	border-right-style: solid;
	margin-right:16px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	margin-top:16px;
	margin-bottom:16px;
}

.editor-content .secret {
	padding: 8px 16px;
	margin-top:16px;
	margin-bottom:16px;
}

.editor-content h1,h2 {
	margin-bottom:16px;
	margin-top:16px;
}

.editor-content h3 {
	margin-top:16px;
}

.editor-content img {
	border: none;
	margin-right: 16px;

}

.item-summary {
    font-family: Roboto;
    font-size: 14px !important;
    line-height: 22px !important;
}
